<div>
  <label for="idade">Idade: </label>
  <input [(ngModel)]="idade" idade="idade" name="idade" type="number">

  <h1 *ngIf="idade >= 60">Idoso</h1>
  <h1 *ngIf="idade >= 18 && idade < 60">Adulto</h1>
  <h1 *ngIf="idade < 18 && idade > 0">Criança</h1>
  <h1 *ngIf="idade <= 0">Número Inválido</h1>

  @if (idade >= 60) {
    <h1>Idoso</h1>
  } @else if (idade >= 18 && idade < 60) {
    <h1>Adulto</h1>
  } @else if (idade < 18 && idade > 0) {
    <h1>Criança</h1>
  } @else {
    <h1>Número Inválido!</h1>
  }
</div>

<h1>FOR</h1>
<select id="frutas" name="frutas">
  <option *ngFor="let fruit of fruits"> {{ fruit }}</option>
</select>

<select id="frutas" name="frutas">
  @for (fruit of fruits; track fruit) {
    <option> {{ fruit }}</option>
  }
</select>
