.container{
    max-width: 800px;
}
.caixa-dialog{
    margin: 1em;
    width: 600px;
    height: auto;
    background-color: #ccc;;
    border-radius: 1rem;
    border: 2px solid #f8f8f8;
    box-shadow: 2px 20px 10px rgba(0, 0, 0, 0.2);
}
.titulo{
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    padding: 1rem;
    border-bottom: 0.1rem solid #f8f8f8;
    background-color: #424242;
    border-radius: 1rem 1rem 0 0;
    color: white;
}
.corpo{
    padding: 0.5rem 1rem;
    text-align: center;
    line-height: 1.5rem;
    font-family: "Segoe UI", sans-serif;
    a{
        text-decoration: none;
    }
    a:hover{
        color: #4CAF50;
    }
.corpo::first-letter{
    padding: 2rem;
}

}
.rodape{
    text-align: right;
    padding-right: 0.5rem;
    font-style: italic;
    border-top: 0.1rem solid #f8f8f8;
}
.botton{
    padding: 0.5rem 1rem;
    margin-top: 0.2rem;
    border-radius: 0.3rem;
    border: none;
}
.botton:hover{
    background-color: white;
    font-weight: bold;
}