<div class="container">
  <nav>
    <dl>
      <dt>Data Binding</dt>
      <dd><a routerLink="event_binding">Event binding</a></dd>
      <dd><a routerLink="interpolation">Interpolation</a></dd>
      <dd><a routerLink="two-way-data-binding">Two Way Data Binding</a></dd>

      <dt>Directives</dt>
      <dd><a routerLink="attribute">Attributte</a></dd>
      <dt>Angular Material</dt>
      <dd><a routerLink="apresentation">Apresentation</a></dd>
      <dd><a routerLink="datepicker">Date Picker</a></dd>
      <dd><a routerLink="slider">Slider</a></dd>
    </dl>
  </nav>

  <div>
    <router-outlet></router-outlet>
  </div>
</div>
