.container{

    display: flex;
    flex-direction: row;
    flex-wrap:  wrap;
    width: 200px;
    height: 200px;
}


.flex-align-content-start{align-content: flex-start}

.flex-align-content-end{align-content: flex-end}

.flex-align-content-center{align-content: center}

.flex-align-content-stretch{align-content: stretch; div{height: auto}}

.flex-align-content-space-between{align-content: space-between}

.flex-align-content-space-evenly{align-content: space-evenly}

.flex-align-content-space-around{align-content: space-around}