.align-content-start {
    align-content: flex-start;
}

.align-content-end {
    align-content: flex-end;
}

.align-content-center {
    align-content: center;
}
.align-contents-stretch {
    align-content: stretch;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 200px;
    height: 400px;
}